/*CSS DOCUMENT*/
h1{
    text-transform: uppercase;
    padding: 0em;   
    width: 4em;
}
h2{
    font-family: New Herman, bold;
    text-transform: uppercase;
    padding: 1.5em 0em 0em 1em; 
    margin-bottom: 1em;
    border-bottom: 2px solid rgb(245,200,1); 
}
h3{
    font-family: New Herman, bold;
    font-style: italic;
    padding: 0em 0em 0em 1em;
    margin: 0em; 
}
p{
    font-family: New Herman;
    padding:0em 1.2em 0em 1em;
    margin:0.2em;
}

p.price{
    color: rgb(155,155,155);
    margin-bottom:1.5em;
}

nav ul li{
   display:inline; 
}
a{
   color:rgb(0,0,0);
   text-decoration: none;
   padding:0em 1em 0em 0.6em;
   text-transform: uppercase; 
   font-size: 1.5em;
}
figure{
    margin:0em;
}
ul{
    font-family: New Herman, bold;
    list-style: none;
    padding: 0em 0em 0em 0.5em;
    margin-top:0em;
}
body{
    margin: 0em;
}
img {
    margin-top: 1em;
    margin-bottom:1em;
    width: 100%; 
}
footer{
    background-color: rgb(245,200,1);
    color:rgb(255,255,255);
    padding: 0.5em 0em 0.5em 0em;
    margin-top: 1em;
}
