/* CSS DOCUMENT */
body{
    background-color: 255;
}
h1{
    color: rgb(17,37,120);
    font-family: serif;
    font-weight: bold;
    font-size: 4em;
    font-style: italic;
    padding: 0.5rem;
    margin-bottom: 0;  
}
h2{
    text-transform: uppercase;
    padding: 0.5rem;   
}
h3{
    background-color: rgb(17,37,120);
    color: rgb(255,255,255);
    font-family: serif;
    font-style: italic;
    padding: 0.5rem;
    margin-bottom: 0;
}
h4{
    text-transform: uppercase;
    font-style: normal;
    font-size: .9em;
    font-family: sans-serif;
    letter-spacing: .1em;
    font-stretch: semi-expanded;
}
p.price{
    color: rgb(155,155,155);
}
ul{
    list-style: none;
    padding: 0.5em;
    margin-top:0;
}
body{
    margin: 0;
}
